AWS_ENDPOINT_URL=http://localstack:4566
AWS_REGION=eu-central-1
AWS_ACCES_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET=file-processing
SQS_QUEUE_NAME=file-processing-queue
DYNAMODB_TABLE=file-processing-jobs
